
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App {
  text-align: center;
  margin: 20px;
  padding: 40px; 
  max-width: 1400px; 
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}


h1 {
  color: #333;
  font-size: 36px; 
  margin-bottom: 30px;
}


.plot-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px; 
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.plot-container .react-plotly-graph {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  height: 450px;
}


@media (max-width: 900px) {
  .plot-container {
    grid-template-columns: 1fr; 
    gap: 20px;
  }
}
